html {
    background-color: #1d1a1a;
}

body {
    background-color: #1d1a1a;
}


.lobby-outer-container {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5vh;
}

.lobby-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.lobby-container .create-table{
    width: 80%;
    background-color: #909090;
    border-radius: 5px;
    height: 100px;
}

/* .lobby-container .create-table img{
    height: 100%;
} */