html {
    background-color: #1d1a1a;
}

body {
    background-color: #1d1a1a;
}

.lobby-card-header {
    background-image: linear-gradient(rgb(78, 194, 0), rgb(188, 209, 0));
    
    .table-name {
        margin-top: .5rem
    }

}



.lobby-outer-container {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5vh;
}

.lobby-container {
    width: 100%;

    .table {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        background-color: #909090;
        border-radius: 5px;
        // height: 100px;
        margin: auto;
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;

        .inner-card {
            display:flex;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            margin:0;

            .card-sides {
                width: 30%;
            }

            .center-image {
                width: 35%;
            }
        }
    }

    .create-table{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        background-color: #909090;
        border-radius: 5px;
        height: 100px;
        margin: auto;
        cursor: pointer;

        .card-sides{
            width: 47.5%;

            h3 {
                margin-bottom: 0;
            }
        }

        .splitter-parent{
            width: 5%;
            height: 80%;
        }

        .splitter{
            margin: auto;
            background-color: black;
            border-radius: 3px;
            width: 3px;
            height: 100%;
        }

    }
}